{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
    {{ form.errors }}
{% endif %}

<form method="post">{% csrf_token %}
    <div style="background: #ABB">
        <div>
            {{ form.nome.label }}: {{ form.nome}} {{ form.nome.errors }}
        </div>

        <div>
            {{ form.ocupacao.label }}: {{ form.ocupacao}} {{ form.ocupacao.errors }}
        </div>

        <div>
            {{ form.tipo.label }}: {{ form.tipo}} {{ form.tipo.errors }}
        </div>

        <div>
            {{ form.notas.label }}: {{ form.notas}} {{ form.notas.errors }}
        </div>
    </div>

    <div style="background:#02F">
        {{ formset_telefone }}
    </div>

    <div style="background:#C2F">
        {{ formset_email }}
    </div>


    <div>
      <input type="submit" value="Salvar" />
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
</form>

{% endblock %}