{% extends "layout_fixed.html" %}

{% block content_title %}
    <div class="page-title d-flex">
        <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Novo Contato</span></h4>
        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>
{% endblock %}

{% block breadcrumbs %}
    <div class="d-flex">
        <div class="breadcrumb">
            <a href="{% url 'dashboard:index' %}" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
            <a href="{% url 'contacts:contato-list' %}" class="breadcrumb-item">Contatos</a>
            <span class="breadcrumb-item active">Novo</span>
        </div>

        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>

    </div>
{% endblock %}

{% block content %}




{% if form.errors %}
    {{ form.errors }}
{% endif %}

<div class="card">
    <div class="card-body">

        <form method="post">{% csrf_token %}
            <div class="form-group">
                <label>{{ form.nome.label }}:</label>
                {{ form.nome }}
                {{ form.nome.errors }}
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{ form.tipo.label }}:</label>
                        {{ form.tipo }}
                        {{ form.tipo.errors }}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{ form.ocupacao.label }}:</label>
                        {{ form.ocupacao }}
                        {{ form.ocupacao.errors }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{ form.instituicao.label }}:</label>
                        {{ form.instituicao }}
                        {{ form.instituicao.errors }}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{ form.departamento.label }}:</label>
                        {{ form.departamento }}
                        {{ form.departamento.errors }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>{{ form.notas.label }}:</label>
                {{ form.notas }}
                {{ form.notas.errors }}
            </div>


            <fieldset>
                <legend>Telefones</legend>

                {# {{ formset_telefone }} #}
                <div class="row">
                    <div class="col">
                        <div class="rounded py-2 px-3 mb-3">
                            {{ formset_telefone.forms.0.numero }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="rounded py-2 px-3 mb-3">
                            {{ formset_telefone.forms.1.numero }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="rounded py-2 px-3 mb-3">
                            {{ formset_telefone.forms.2.numero }}
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>E-mails</legend>
                {# {{ formset_email }} #}
                <div class="row">
                    <div class="col">
                        <div class="rounded py-2 px-3 mb-3">
                            {{ formset_email.forms.0.email }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="rounded py-2 px-3 mb-3">
                            {{ formset_email.forms.1.email }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="rounded py-2 px-3 mb-3">
                            {{ formset_email.forms.2.email }}
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                {# {{ form_endereco }} #}
                <legend>Endereço</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{ form_endereco.pais.label }}:</label>
                            {{ form_endereco.pais }}
                            {{ form_endereco.pais.errors }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{ form_endereco.estado.label }}:</label>
                            {{ form_endereco.estado }}
                            {{ form_endereco.estado.errors }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{ form_endereco.cidade.label }}:</label>
                            {{ form_endereco.cidade }}
                            {{ form_endereco.cidade.errors }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{ form_endereco.logradouro.label }}:</label>
                            {{ form_endereco.logradouro }}
                            {{ form_endereco.logradouro.errors }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{ form_endereco.numero.label }}:</label>
                            {{ form_endereco.numero }}
                            {{ form_endereco.numero.errors }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{ form_endereco.complemento.label }}:</label>
                            {{ form_endereco.complemento }}
                            {{ form_endereco.complemento.errors }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{ form_endereco.cep.label }}:</label>
                            {{ form_endereco.cep }}
                            {{ form_endereco.cep.errors }}
                        </div>
                    </div>
                    
                </div>
            </fieldset>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Salvar<i class="icon-paperplane ml-2"></i></button>
            </div>

        <!--     <div>
              <input type="submit" value="Salvar" />
              <input type="hidden" name="next" value="{{ next }}" />
            </div> -->
        </form>
    </div>
</div>
{% endblock %}